$blue-200: #aad2f5;
$green-200: #c7e5d7;
$green-400: #9cf09c;
$yellow-200: #ffff65;
$orange-200: #ffc559;
$red-200: #f25a5a;

$blue-100: #c4dff7;
$blue-300: #8abfe5;
$blue-400: #77abd1;
$blue-500: #157fcc; //main
$blue-900: #1565c0;
$gray-100: #eeeeee;
$gray-300: #e0e0e0; //border
$gray-400: #c2c2c2; //icon
$gray-600: #999999;
$gray-700: #808080;
$gray-800: #666666;
$gray-900: #404040;

$white: #ffffff;
$black: #000000;
$font-size: 12px;
